body {
    background-color: grey;
}

.test {
    width: 200px;
    padding: 10px;

}
.image2
{
    display: none;
}
.image3
{
    display: none;
}
.image4
{
    display: none;
}
.image5
{
    display: none;
}
